* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
$main-color:#2173fe;
$line-color:#1100ff;

body {
    background-image: url('../images/greenbackground.jpg');
    background-attachment: fixed;
}