@import './base';

.main-contents {
    border-radius:.8em;
    border:1px solid #fff;
    padding:50px 10px;
    min-height:400px;
    transition:transform .4s;
    backdrop-filter: blur(5px);
    &:hover {
        -webkit-transform:translateY(-10px);
        -ms-transform:translateY(-10px);
        transfrom:translateY(-10px);
        border:2px solid #fff;
    }
    a {
        color:#6af352;
    }
}


#popoverButton {
    z-index:10001;
    position:fixed;
    right:10px;
    top:65%;
    border-radius:50%;
    border:none;
    cursor:pointer;
    background:transparent;
}
.loading {
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    display:grid;
    place-items:center;
    background:#000000e9 url('../gif/loading.gif') center center no-repeat;
}
.welcome {
    color:#fff;
    width:100%;
    min-height:90vh;
    
    //background-image: url('../images/greenbackground.jpg');
}


// .bgimg-1, .bgimg-2, .bgimg-3 {
//     position: relative;
//     opacity: 0.65;
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;

// }


// .bgimg-1 {
//     background-image: url("../images/greenbackground.jpg");
//     min-height: 100%;
// }

// .bgimg-2 {
//     background-image: url("images/background4.png");
//     min-height: 650px;
//     padding-bottom:1.2em;
// }

// .bgimg-3 {
//     background-image: url("images/mesh-833.png");
//     min-height: 600px;
// }

// .caption {
//     position: absolute;
//     left: 0;
//     top: 30%;
//     width: 100%;
//     text-align: center;
//     color: #000;
// }
// .caption h2 {
//     color:#efbf21;
//     display:flex;
//     justify-content:center;
//     align-items:flex-start;
// }

// .caption span.border {
//     background-color: #111;
//     color: #fff;
//     padding: 18px;
//     font-size: 25px;
//     letter-spacing: 10px;
// }

// span {
//     color:black;
//     font-size:1.1em;
//     padding-block:1.5em;
// }

// h3 {
//     letter-spacing: 5px;
//     text-transform: uppercase;
//     font: 20px "Lato", sans-serif;
//     color: #111;
// }

// /* Turn off parallax scrolling for tablets and phones */
// @media only screen and (max-device-width: 1024px) {
//     .bgimg-1, .bgimg-2, .bgimg-3 {
//         background-attachment: scroll;
//     }
// }